<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <link rel="stylesheet" href="css/app.css" />
</head>
<script>

</script>

<body>

    <aside class="side_menu">
        <nav>
            <ul>
                <li>PATÍO</li>
                <li>MENSALISTAS</li>
            </ul>
        </nav>
    </aside>
    <header>

    </header>
</body>

</html>