<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <link rel="stylesheet" href="css/app.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <div class="login-div">
        <form class="login_form" action="/login" method="post">
            <input name="email" type="text" placeholder="email" id="email" required />
            <input name="password" type="password" placeholder="senha" required />
            <button type="submit">LOGIN</button>
        </form>
        <div class="error-div">
            <% if (error) { %>
                <h3>
                    <%= error.email %>
                        <%= error.password %>
                </h3>
                <% } %>
        </div>
    </div>
</body>

</html>