<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="app.css" />
</head>
<header>
    <nav>
        <ul>
            <li>LOGO</li>
            <li><a href="/login">LOGIN</a>| <a href="/cadastro">CADASTRO</a></li>
            <li>Mensalistas</li>
        </ul>
    </nav>
</header>

</html>